// CONTAINER HOLDING PROFILE AND FORM CARDS

.profile-container {
  color: rgb(100, 28, 28);
  max-width: 1000px;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.profile-card,
.form-card {
  background: white;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 3px rgba(133, 132, 132, 0.219);

  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.profile-header {
  padding-bottom: 10px;
}

.profile-body,
.form-body {
  padding: 30px;
}

// PROFILE CARD
.profile-card {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
}

// FORM BUTTONS
.form-btn {
  margin-top: 5px;
  color: white !important;
  font-size: 16px !important;
  background: rgb(100, 28, 28);
  border: none;
  outline: none;

  display: flex;
  float: right;
  position: relative;
}

.form-btn:hover {
  background: #b42929 !important;
}

// FORM
.form-card {
  width: 600px;
  height: 430px;
}

.form-header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 10px;
}

#update-btn {
  margin-top: 20px;
}

// TOGGLE FORM
.active-card {
  visibility: hidden;
}

.hidden {
  display: none;
}

// FAVORITES
.fav-container {
  // border: 1px solid black;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #892a2a;
  font-family: "Roboto Condensed";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fav-header {
  font-size: 36px;
}

.fav-body {
  color: #892a2a;
  text-align: center;
}

.title-container {
  // border: 1px solid orange;
  font-size: 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav-title {
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.remove-btn {
  background: transparent;
  font-size: 16px !important;
  margin-left: auto;
}

// MINIMIZED

@media (max-width: 768px) {
  .profile-card,
  .form-card {
    width: 80%;
  }
  .profile-card {
    margin-top: 40px;
  }
}
