@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

// .no-movie {
// }

// CARDS

.detail-container {
  color: rgb(100, 28, 28);
  width: 1000px;
  height: 100%;
  margin: 0px 40px 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 1px solid blue;
}

.image-card,
.detail-card {
  margin: 20px;
  width: 40%;
  height: 50%;

  border-radius: 4px;
}

.image-card {
  box-shadow: 0px 10px 25px 0 rgba(221, 50, 50, 0.432);
}

.detail-card {
  // border: 1px solid red;
  padding: 20px;
  width: 50%;
  box-shadow: 1px 1px 2px 3px rgba(133, 132, 132, 0.219);
}

.detail-main {
  // border: 1px solid black;
  display: grid;
}

.header-main {
  // border: 1px solid yellow;
  display: grid;
  grid-template-columns: 1fr auto;
}

.detail-title {
  // border: 1px solid yellow;
  font-family: "Oswald", "sans serif" !important;
  font-size: 36px !important;
}

.addFav-btn {
  color: rgba(117, 16, 16, 0.979) !important;
  font-size: 28px !important;
  background-color: transparent;
}

.movie-details {
  // border: 3px solid brown;

  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 12px;
}

img {
  width: 100%;
}

@media (max-width: 768) {
  .detail-container {
    // border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;

    // padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .image-card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
  }

  .detail-card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 95%;
  }
  .detail-title {
    // border: 1px solid red;
    font-size: 28px !important;
  }
  .back-btn {
    font-size: 15px !important;
  }
}
