@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; // importing bootstrap

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the background color for the entire application */
html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  // background-color: rgb(240, 231, 231);
  // background-color: #e12835;
  font-family: sans-serif;
  font-weight: 200;
  font-style: light;
}
